{
    "extends": "airbnb-base",
    "env": {
        "node": true
    },
    "rules": {
        // http://eslint.org/docs/rules/indent
        // Enforce 4 space indent + rule for switch cases
        "indent": ["error", 4, { "SwitchCase": 1 }],

        // http://eslint.org/docs/rules/semi
        // Enforce semi-colons
        "semi": ["error", "always"],

        // http://eslint.org/docs/rules/no-param-reassign
        // Allow param reassign. We need to do this a lot in the plugin
        "no-param-reassign": ["off"],

        // http://eslint.org/docs/rules/no-underscore-dangle
        // Allow references starting with underscore. Webpack has those.
        "no-underscore-dangle": ["off"],

        // http://eslint.org/docs/rules/comma-dangle
        // Overwrites airbnb-base config to ignore trailing commas in function calls
        "comma-dangle": ["error", {
            "arrays": "always-multiline",
            "objects": "always-multiline",
            "imports": "always-multiline",
            "exports": "always-multiline",
            "functions": "ignore"
        }]
    }
}
